* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
   
}

:root{
    --primary-color: #ffffff;
    --secondary-color:#000000;  
    --third-color: rgb(85, 139, 94);
    --text-colour:black;
    --button-color:rgb(85, 139, 94);
} 
.dark-theme{
    --primary-color:#213628 ;
    --secondary-color:#ffffff;
    --third-color: #213628;
    --text-colour:#FFFFFF;
    --button-color:#213628;
}
#moon{
    cursor: pointer;
    background-color:#213628;
}
/* ?Start nav bar */
nav{
   height: 100px;
    width: 100%;
   padding-left: 4%; 
   position: fixed;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--primary-color)
    ;
   

}

span a{
   line-height: 70px;
   text-decoration: none;
   padding-left: 200px;
   color: var(--secondary-color);
   font-size: 30px;
   font-family: sans-serif;
   font-weight: 400;
  
}
span img{
    background-color:var(--secondary-color);
}

nav ul{
    padding-right: 350px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);  
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(247, 120, 17);
}
/* nav var End */
.hero{
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: sans-serif;
  background:var(--primary-color);

}

.info{
    margin-top: 5%;
    margin-left: 8%;
}

.info h1{
    font-size: 80px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 600;
}
.info h3{
  font-size: 30px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-family: sans-serif;
    
}
.info p{
    color:var(--secondary-color);
    font-weight: 300; 
}
.b1{
    background-color:var(--button-color);
    color:var(--secondary-color);
    padding: 10px 20px;
    margin: 30px 0;
    display: inline-block;
    border-radius: 5px;
}

 .plant{
    height: 15%;
    width: 30%;
    margin-left: 2%;
   margin-top: 5%;
}
.first{
    
   display: flex;
   margin-left: 8%;
   height:100vh;
   padding-top: 10%;

}
.second{
    background-color: var(--primary-color);
    height: 100vh;
}
.plant1{
  padding-left: 100px;
  padding-top: 5%;
}
/*  */
.third{
    display: flex;
    text-decoration: none;
    margin-left: 8%;
    height: 70vh;
    margin-top: 10%;
}

.text{
    text-align: justify;
    font-size: 20px;
   padding-left: 8%;
   
}

.tick{
    height: 3%;
    width: 3%;
    background-color: var(--primary-color);

}
.aboutimg{
   margin-left: 7%;
    
}
.aboutimg img{
    height: 60%;

}
.aboutimg img:hover{
    transform: scale(1.25);
    cursor: pointer;
}
.shop{
    text-decoration: none;
    background-color:var(--button-color);
    color: var(--secondary-color);
    border-radius: 5px;
    padding: 10px 20px;

}

.third ul li{
    text-decoration: none;
    list-style: none;
    margin-left: -4%;

}

/* Producut css start */

.product h1{
    text-align: center;

}

.product .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem,4fr) ); 
    margin-left: 15%;
    margin-right: 18%;
    padding-top: 50px;

}

.product .box-container .box{
    background: var(--primary-color);
    background-color: var(--third-color);
    color: var(--secondary-color);
    border-radius: 1rem;
    box-shadow: rgb(12, 12, 11);
    outline:#000000 ;
    outline-offset: -1rem;
    padding: 10px;
    width: 290px;
    height: 40vh;

}
.b2 {
  background-color:var(--primary-color);
  color:var(--secondary-color);
  padding: 10px 20px;
  margin: 30px 0;
  display: inline-block;
  border-radius: 5px;
}
.b2:hover{
  background-color:#213628;
  color:rgb(255, 255, 255);
}

.product .box-container .box:hover{
    outline:var(--primary-color);
    outline-offset: 1rem;
}
.product .box-container .box img{
    margin: 1rem 0;
    height: 10rem;
}
.product .box-container .box h3{
    font-size: 20px;
   
}

.product .box-container .box .price{
    font-size: 25px;
}
.product .box-container .box i{
    font-size: 20px;
   
    color:var(--secondary-color);
    
}
.product .box-container .box i:hover{
  transition: 0.5s;
  cursor: pointer;
  color: rgb(1, 255, 56);

}
/* Qustions and ask */
.questions {
    background-color:var(--third-color);
   ;
    margin: 2rem 0;
    height: 75vh;
    margin-top: 10%;
  }
  /* .questions:hover{
    height: 100vh;
  } */
  #faqs{
    height: 60vh;
  
  }
  #faqs:hover{
    height: 65vh;
  }
  
  .questions .section-title {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    color: var(--text-colour);
    
  }
  
  .questions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: flex-start; */
  }
  
  
  
  .questions-item {
    /* background-color: rgb(255, 255, 255); */
    padding: 1rem;
    cursor: pointer;
    transition: 0.4s;
    height: 100px;
    width: 90%;
  }
  
  .questions-header {
    font-size: 20px;
    display: flex;
    align-items: center;
    /* gap: 0.5rem; */
    transition: 0.4s;
    background-color: #ffffff;
    padding: 10px;
    justify-content: center;
  }
  
  /* .questions-icon {
    font-size: 1.2rem;
    font-weight: 300px;
    color: rgb(255, 255, 255);
    transition: 0.4s;
  } */
  
  .questions-description {
    font-size: 20px;
    padding-left: 1.7rem;
    color: black;
    opacity: 0;
    transition: 0.4s;
  }
  
  .questions-item:hover {
    height: 200px;
    background-color: rgb(255, 255, 255);
  }

  .questions-item:hover .questions-description {
    opacity: 2;
  }
  
  /* .questions-item:hover .questions-header {
    margin-bottom: 0.5rem;
  } */
  
  /* .questions-item:hover .questions-icon {
    transform: rotate(45deg);
  } */
  
  
/* end Qustions and ask */

/* Team Review */
.review{
    text-align: center;
    height: 80vh;
   background: var(--primary-color); 
   color: var(--secondary-color);
   padding-top: 100px;

}
.review .review-slider{
    outline:#000000 ;
    outline-offset: -5rem;
    margin-top: 200px;
    
}
.review .review-slider:hover{
    outline:#faf7f7 ;
    outline-offset: 3rem;
}
.swiperwrapper{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(10rem,1fr));
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;

}
.review

/* FORM CSS */
#form{
  height: 700vh;
}
#mainform{
    margin-left: 15%;
     width: 100rem;
    margin-bottom: 5%;
    margin-top: 5%;
    background: var(--third-color);
    color: var(--primary-color);
}
#button{
    text-align: right;
    background-color: var(--button-color);
    padding: 20px 40px;
    color: white;
    font-weight: bolder;
}
#button:hover{
    background-color:rgb(97, 148, 97) ;
}
p{
    size: 12px;
    padding: 5px;
}
.form-control{
    height: 36px;
    background:rgb(97, 148, 97);
    color: rgba(0,0,0,0.8);
    font-size: 14px;
    border-radius: 2px #213628 ;
    box-shadow: none;
}
.contactForm .form-control{
    border: none;
    border-bottom: 1px solid rgb(97, 148, 97);
    
}
.form-control:focus, .form-control:active{
    border-color:rgb(97, 148, 97) ;
}
/* .bi{
    font-size: 40px;
} */

/* ==Map Css== */
#map{
  height: 500px;
 
}
/* ==End Mp == */
/* FORM CSS END */


/* Footer css Start */
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
  
    justify-content: space-between;
    margin-top: 10%;

  }
  
  .footer-title {
    margin-bottom: 10px;
    font-size: 20px;
   margin-left: 18%;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
  }
  
  .footer-logo i {
    color: rgb(3, 42, 3);
    font-size: 1.2rem;
    font-weight: 300;
  }
  .footer-logo:hover {
    color: rgb(1, 49, 5);
  }
  
  .footer-description {
    font-size: 30px;
    font-weight: 500;
    color: black;
    margin-bottom: 50px;
  }
  
  .footer-form {
    display: flex;
    background-color: rgb(97, 148, 97);
    padding: 0.7rem;
    border-radius: 0.5rem;
    
  }
  
  .footer-input {
   
    padding-right: 0.7rem;
    
  }
  
  .footer-form .btn {
    padding: 0.8rem;
    background-color: rgb(2, 39, 2);
    color: #ffffff;
  }
  
  .footer-address {
    display: grid;
    gap: 0.5rem;
   
  }
  
  .footer-tel {
    color: black;
    margin-bottom: 100px;
    transition: 0.3s;
  }
  
  .footer-social {
    display: flex;
    gap: 0.5rem;
  }
  
  .footer-social-icon {
    color: rgb(11, 69, 11);
    font-size: 1.2rem;
    transition: 0.3s;
  }
  
  .footer-tel:hover,
  .footer-social-icon:hover {
    transform: translateY(-5px);
    color: white;
  }
  
  .footer-cards {
    display: flex;
    gap: 0.5rem;
  }
  
  .footer-card {
    width: 40px;
  }
  
  .footer-copy {
    margin-top: 7rem;
    text-align: center;
    font-size: 20px;
  }
  
  .footer-copy a {
    color: black;
  }
/* footer Css end */






/* .team .box-container{
    padding: 1rem;

    
}
.product .box-container:first-child{
       padding: 10rem;
}
.product .box-container .box{
    background-color: #76907e;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem 0;
    outline-offset: -1rem;
    outline:black;
    box-shadow: #111111;
    transition: 100ms linear;

}
.product .box-container .box:hover{
    outline-offset: 0rem;
    outline:#ffff;
}
.product .box-container img{
    height: 10rem;

}
.product .box-container h3{
    font-size: 20px;
    color: var(--primary-color);
}
.price{
    font-size: 20px;
    color: var(--primary-color);

}
.product .box-container .stars{
    text-align: center;
   color: var(--primary-color);
   font-size: 1.5rem;
} */